.dish-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding-top: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.card-image{
  height: 220px;
  width: 250px;
  border: solid 1px black;
  border-radius: 10px;
}

.publ-btn{
  background-color: green;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

.appName {
  font-size: 50px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 25px;
}